fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic
pydantic-settings
python-dotenv
httpx
numpy
scikit-learn
prometheus-fastapi-instrumentator